* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.btn {
  border-radius: 25px;
  background: #ffb14d;
  padding: 10px 15px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
  border: 4px solid black;
  text-decoration: none;
  z-index: 500;
}

@media screen and (max-width: 500px) {
  nav {
    height: 90px;
    width: 100%;
    background-color: #ffb14d;
    padding: 10px 20px;
    transition: 0.5s ease-in-out;
    
  }

  .nav.active, .btn.active{
    background-color: rgb(135, 131, 131);
    color: white;
  }


  div.top-bar,
  div.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  div.search-box {
    width: 50%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
    height: 30px;
    padding: 12px;
    display: inline-flex;
    transition: all 0.5s ease-in-out;
    align-items: center;
  }



  div.search-box input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    outline: none;
    padding: 0px 10px;
  }

  section.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  div.search-profile img{
    width: 30px;
    margin-left: 14px;
  }

  .rec.active{
    display: none;
    transition: 0.5s ease-in-out;
   }

  section.header img {
    float: right;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    z-index: 100;
  }

  section.header h1 {
    color: #000;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    word-spacing: 4px;
    line-height: 39px;
    position: absolute;
    z-index: 1000;
    padding-left: 15px;
    padding-top: 5px;
  }

  section.offers {
    margin-top: 150px;
    padding: 10px 15px;
  }

  div.offer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div.food-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  div.food-item h2 {
    font-size: 17px;
  }

  div.price-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div.price-list h3 {
    font-size: 15px;
  }
  div.star {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
  }

  div.star p {
    font-size: 15px;
    font-weight: 700;
  }
  div.star img {
    width: 12px;
  }

  div.bottom {
    display: flex;
    align-items: center;
    padding: 10px 35px 10px;
    background-color: #ffb14d;
    justify-content: space-between;
    position: fixed;
    right: 0;
    bottom: -0%;
    z-index: 10000;
    transition: 0.5s ease-in-out;
    left: 0;

  }

  .bottom.active{
    background-color: rgb(135, 131, 131);
    color: white;
  }
  .bottom.active div.home a img{
    mix-blend-mode: luminosity
  }

  div.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div.top img.icon{
    width: 25px;
    mix-blend-mode: darken;
  }


  section.about p {
    color: #000;
    font-size: 24px;
    font-style: normal;
    padding: 0px 15px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
  }

  section.about1 h1,   section.about1 p {
    color: #000;
    font-family: Tillana;
    padding: 0px 15px;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
